{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>

<p>{{ post.content }}</p>
<p><i>By {{ post.user.full_name }} on {{ post.friendly_date }}</i></p>

<form>
    <button class="btn btn-outline-primary" formaction="/users/{{ post.user_id }}" formmethod="GET">Cancel</button>
    <button class="btn btn-primary" formaction="/posts/{{ post.id }}/edit" formmethod="GET">Edit</button>
    <button class="btn btn-danger" formaction="/posts/{{ post.id }}/delete" formmethod="POST">Delete</button>
</form>


{% endblock %}