{% extends 'base.html' %}
{% block title %} Add Post {% endblock %}
{% block content %}

<h1>Add Post for {{ user.full_name }}</h1>

<form method="POST">
    <div>
        <label for="title">Title</label>
        <div>
            <input id="title" name="title">
        </div>
    </div>

    <div>
        <label for="content">Content</label>
        <div>
            <textarea id="content" name="content"></textarea>
        </div>
    </div>

    <div>
        {% for tag in tags %}
        <div>
            <input type="checkbox" value="{{ tag.id }}" id="tag_{{ tag.id }}" name="tags">
            <label for="tag_{{ tag.id }}">{{ tag.name }}</label>
        </div>
        {% endfor %}
    </div>

    <div>
        <div>
            <a href="/users/{{ user.id }}" class="btn btn-info">Cancel</a>
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </div>
    
</form>

{% endblock %}