{% extends 'base.html' %}
{% block title %} Edit {{ user.full_name }}{% endblock %}
{% block content %}

<h1>Edit User</h1>

<form method="POST">
    <div>
        <label for="first_name">First Name</label>
        <div>
            <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}">
        </div>
    </div>

    <div>
        <label for="last_name">Last Name</label>
        <div>
            <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}">
        </div>
    </div>

    <div>
        <label for="image_url">Image URL</label>
        <div>
            <input type="text" id="image_url" name="image_url" value="{{ user.image_url }}">
        </div>
    </div>

    <div>
        <a href="/users">Cancel</a>
        <button type="submit">Save</button>
    </div>
</form>

{% endblock %}