{% extends 'base.html' %}
{% block title %}Add User{% endblock %}
{% block content %}

<h1>Add User</h1>

<form method="POST">
    <div>
        <label for="first_name">First Name</label>
        <div>
            <input type="text" id="first_name" name="first_name" placeholder="Enter First Name">
        </div>
    </div>

    <div>
        <label for="last_name">Last Name</label>
        <div>
            <input type="text" id="last_name" name="last_name" placeholder="Enter Last Name">
        </div>
    </div>

    <div>
        <label for="image_url">Image URL</label>
        <div>
            <input type="text" id="image_url" name="image_url" placeholder="Enter Image URL">
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-info">Add user</button>
    </div>
</form>

{% endblock %}